@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Montserrat:wght@400;600&display=swap');
/* 
font-family: 'Atkinson Hyperlegible', sans-serif; 400 weight
font-family: 'Montserrat', sans-serif; 400 600 weight
*/
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}
